@font-face {
  font-family: twitter;
  src: url(chirp-regular-web.woff);
}
body {
  font-family: twitter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --twitter-mainColor: #08a0e9;
  --twitter-liteColor: rgb(226, 248, 241);
  --twitter-inputColor: #EBEEF0;
}
